#################################################################
##    Ansible managed (refer to Linux Automation Framework)    ##
##              Your change will be overwritten!!              ##
#################################################################

[nnt]
baseurl =  {{ __nnt_repo_url }}
gpgcheck = 1
gpgkey = {{ __nnt_repo_gpgkey }} 
name = NNT ChangeTracker Repository